.info-page{
    height: fit-content;
    width: calc(100vw - 0.9rem);
    display: flex;
    padding: 5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: space-around;
}

.item-holder{
    width: 50%;
    height: fit-content;
}

.image-container{
    width: 100%;
    height: 70vh;
    padding: 0;
    transition: all 0.4s;
}

.image-container:hover{
    transform: translateY(-2%);
    transition: all 0.4s;
}

.image-container img{
    width: 100%;
    height: 100%;
}