nav{
    width: 100vw;
    height: 15vh;
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1005;
}

nav img{
    width: 130px;
    height: 35px;
    margin-left: 1.4rem;
}

ul *{
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    color: white;
    font-weight: 600;
}

ul:nth-child(1):nth-child(1) *{
    margin-right: 1rem;

}

ul{
    display: flex;
    margin-right: 2rem;
}

ul a{
    margin-right: 0;
}

nav button{
    margin-left: 1rem;
}

.button-login:after{
    content:'Log In'
}

.button-signup:after{
    content:'Sign Up'
}

.close-button:after{
    content:'x'
}